:root {
    /* border color */
    --bc: rgb(60, 64, 66);
}

body {
    background-color: rgb(34, 36, 37);
}

#notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    /* display: table;
    clear: both; */
}

.note {
    float: left;
    margin: 15px 15px 15px 0px;
    width: auto;
    height: auto;
    border: 3px solid var(--bc);
    font-size: 12px;
    padding: 10px;
    text-align: center;
}

.note > h1 {
    color: #b6b6b6;
}
